table {
  border-collapse: collapse;
  border: solid 1px black;       
}

tr, td, th {
  border:  solid 1px black;
}

tr:nth-child(even) {
  background-color: gray;
}

td, th {
  padding: 10px;
}

th {
  text-align:center;
}

td:nth-last-child(1) {
  text-align: right;
}

thead tr {
  background-color: tomato;
  text-transform: uppercase;
  font-family: monospace; /* serif, sans serif */
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}
td:hover {
  background-color: blue;
}

p span:hover {
  color: red;
}

caption {
  caption-side: bottom;
  font-size: 1.2em;
  font-weight: bold; /* 200, 400, 700, 900 */
  text-align: right;
}